body {
    background-color: var(--clr-neutral-200);
    margin: var(--size-400);
}

.left-panel {
    
    display: flex;
    flex-direction: column;

    margin-block: var(--size-500);
    gap: var(--size-500);

    @media only screen and (max-width: 30em) {
        display: none;
    }

}

.right-panel {
        
    display: flex;
    flex-direction: column;

    margin-block: var(--size-500);
    gap: var(--size-500);

    @media only screen and (max-width: 60em) {
        display: none;
    }

}

.main-panel {
    
    display: flex;
    justify-content: center;

    margin-block: var(--size-500);

}