body {
    background-color: var(--clr-neutral-200);
    padding: var(--size-400);

    overflow: hidden;

}

.home-page {

    display: flex;
    flex-direction: column;

    .content {
        display: grid;

        grid-template-columns: min(18.75rem, 30%) auto min(18.75rem, 30%);
    
        @media only screen and (max-width: 80em) {
            grid-template-columns: 4rem auto min(18.75rem, 30%);
        }
    
        @media only screen and (max-width: 60em) {
            grid-template-columns: max(4rem, 10%) auto;
        }
    
        @media only screen and (max-width: 30em) {
            grid-template-columns: auto;
        }
    }

    .left-panel {

        display: flex;
        flex-direction: column;

        padding-block: var(--size-500);

        gap: var(--size-500);

        @media only screen and (max-width: 30em) {
            display: none;
        }

    }

    .right-panel {

        display: flex;
        flex-direction: column;

        padding-block: var(--size-500);

        gap: var(--size-500);

        @media only screen and (max-width: 60em) {
            display: none;
        }

    }

    .main-panel {
        
        display: flex;
        flex-direction: column;
        align-items: center;

        overflow: auto;

        max-height: calc(100vh - (4 * var(--size-500)));

        padding-block: var(--size-500);

        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}