.primary-header {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: var(--clr-neutral-100);

    padding: var(--size-200) var(--size-500);
    border-radius: var(--size-500);

}

.profile-notifications {
    display: flex;
    flex-direction: row;

    gap: var(--size-300);
}

.menu {
    position: absolute;
    right: 0;
    
    background: var(--clr-neutral-100) ;

    margin-block: var(--size-400);
    padding: var(--size-500);

    border-radius: var(--size-500);

    width: 300px;

}

.line {
    width: 100%;
    height: var(--size-100);
    
    background: var(--clr-neutral-300);

    border-radius: 100vh;

}

.profile-settings {
    max-width: 300px;

    display: flex;
    flex-direction: column;
    gap: var(--size-500);

    .menu-item {
        width: 100%;
        gap: var(--size-500);
        padding: var(--size-300) var(--size-500);

        color: var(--clr-neutral-900);
        font-weight: var(--fw-semibold);

        display: flex;
        flex-direction: row;
        align-items: center;

        text-decoration: none;

        border-radius: var(--size-500);

        &:hover, &:focus {
            background: var(--clr-neutral-200);
        }

    }
}

.notifications-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        background: red;
        border: none;

        display: flex;
    }
}

.notifications-btn {

    display: flex;
    justify-content: center;
    align-content: center;

    padding: var(--size-300);

    width: var(--size-800);
    height: var(--size-800);
    aspect-ratio: 1 / 1;

    background: var(--clr-primary-500);
    border: none;

    border-radius: 50%;

    .icon {

        --icon-color: var(--clr-neutral-100);

        width: var(--size-600);

    }

}

.profile {
    position: relative;

    display: flex;
    justify-content: center;
    align-content: center;

    padding: 0px;

    width: var(--size-800);
    height: var(--size-800);
    aspect-ratio: 1 / 1;

    background: none;
    border: none;

    &:hover,
    &:focus {
        opacity: 90%;
    }

    .expand {
        position: absolute;
        bottom: 0;
        right: 0;

        display: flex;

        background-color: var(--clr-primary-500);
        border-radius: 50%;

        width: var(--size-400);
        aspect-ratio: 1 / 1;

        .icon {

            --icon-color: var(--clr-neutral-100);

            width: inherit;
            aspect-ratio: 1 / 1;
        }

    }

}

.icon {
    width: var(--size-700);
    aspect-ratio: 1 / 1;

    fill: none;

    --icon-color: var(--clr-neutral-900);
}