.menu {
    @media screen and (max-width: 30em) {
        position: absolute;
        inset-inline: var(--size-300);

        width: auto;
    }

    position: absolute;
    right: 0;
    top: var(--size-800);

    width: var(--menu-width);
    margin-block-start: var(--size-600);
}